body {
    background-color: black;
}

.home-image img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}


/* BUTTON HOME */

.explore-btn {
    position: absolute;
    top: 50%;
    right: 45%;
    margin-top: 20px;
}
.btn-expl {
    margin-top: 25px;
    padding: 10px 25px 10px 25px;
    background-color: #e7720b;
    border-radius: 25px;
    font-weight: 600;
}
.btn-expl:hover {
    transform: scale(1.1);
}


/* 4 KOTA */

.round-container {
    width: 80%;
    margin: auto;
    position: absolute;
    bottom: 60px;
    margin-left: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.round-box {
    width: 350px;
}
.round-box img{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
}
.round-box img:hover {
    transform: scale(1.2);
}
.round-box p{
    padding-top: 10px;
    padding-left: 90px;
    font-size: 10px;
    color: white;
}
.round-box span p{
    font-size: 15px;
    font-weight: 600;
}
.gradient{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}


/* TITLE */

.home-title p {
    position: absolute;
    top: 29%;
    right: 47%;
    font-size: 18px;
    letter-spacing: 5px;
    font-weight: 500;
    color: white;
}

.home-title h1 {
    position: absolute;
    top: 29%;
    right: 40%;
    font-size: 100px;
    letter-spacing: 10px;
    color: white;
}


/* ICON SOSMED */

.icon-sosmed {
    position: absolute;
    top: 30%;
    left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}
.icon-sosmed .fa-brands {
    padding: 10px;
    font-size: 25px;
}

/* CONTENT */
.card-title{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.card-title p {
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
.card-title h1 {
    font-size: 40px;
    letter-spacing: 10px;
    font-weight: 500;
    color: white;
}
.card-content{
    margin-bottom: 180px;
}


/* WELCOME */

.container-about {
    margin-bottom: 150px;
}
.about-text {
    margin-left: 50px;
}
.about-pic img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about-text h1{
    letter-spacing: 5px;
    font-size: 30px;
    margin-bottom: 20px;
}
.about-text p{
    font-size: 14px;
    letter-spacing: 0.5px;
}
.about-btn {
    margin-top: 25px;
    padding: 10px 25px 10px 25px;
    background-color: #e7720b;
    border-radius: 25px;
    font-weight: 600;
}
.about-btn:hover {
    transform: scale(1.1);
}

/* HOLIDAY */

.holiday-title{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.holiday-title p {
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}
.holiday-title h1 {
    font-size: 35px;
    font-weight: 500;
    color: white;
}

.holiday-img img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    margin-bottom: 150px;
}

.travel-title{
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}
.travel-title h1 {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 10px;
}
.travel-title p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 5px;
}
