.register-image img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}


.home {
  display: flex;
  flex-direction: row;
  column-gap: 5em;
  margin-top: 100px;
  margin-left: 70px;
}
.daftarPeserta {
  position: absolute;
  top: 1100px;
}
.input-data {
  background-color: #3b3b3b;
  border-radius: 15px;
  padding: 30px 90px 50px 90px;
  margin-bottom: 350px;
  border: 1px solid rgb(251, 159, 47);
}
.input-data h2 {
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 21px;
}
.input-text {
  padding: 7px 30px 7px 30px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #676767;
  border: none;
  color: rgb(255, 255, 255);
}
.event-select {
  padding: 7px 91px 7px 91px;
  border: none;
  border-radius: 7px;
  background-color: #676767;
  color: rgb(181, 181, 181);
  margin-bottom: 20px;
}
.selectnewdata {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 7px 95px 7px 95px;
  border: none;
  border-radius: 7px;
  background-color: #676767;
  color: rgb(181, 181, 181);
}
.buttonInput {
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: rgb(251, 159, 47);
  margin-left: 50px;
  margin-top: 10px;
}
.buttonInputan {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: rgb(251, 159, 47);
  position: absolute;
  left: 500px;
  margin-top: 15px;
}
.btn {
  position: absolute;
  left: 420px;
  top: 400px;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: rgb(251, 159, 47);
}
.btnSatu {
  padding: 10px 25px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: rgb(251, 159, 47);
  margin-top: 10px;
  margin-left: 75px;
}
.Inputbtn {
  padding: 10px 20px;
  margin-left: 22px;
  margin-right: 22px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: rgb(251, 159, 47);
}
td {
  border: 1px solid rgb(251, 159, 47);
}

.listPassenger {
  border-collapse: collapse;
  color: white;
}

.listPassenger td {
  background-color: #4a4a4a;
  padding: 10px 20px;
}
